<!DOCTYPE html>
<html lang="{{ site.lang | default: "pl" }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% feed_meta %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <title>{{ page.title | escape }}</title>
</head>
<body>
  <div class="container">
    <header class="masthead">
      </header>

    <main class="main-content">
      {{ content }}
    </main>

    <footer style="margin-top: 50px; padding-top: 20px; border-top: 1px solid #eee; font-size: 0.8em; color: #666;">
      <p>
        &copy; {{ site.time | date: '%Y' }} Tomasz Dunia.
        Treść bloga dostępna na licencji <a href="https://raw.githubusercontent.com/to3k/to3k.github.io/refs/heads/main/LICENSE.md">Creative Commons (CC BY-NC-SA 4.0).</a>.
      </p>
      <p>
        Znajdź mnie na <a href="https://infosec.exchange/@to3k">Mastodonie</a>!
      </p>
    </footer>

  </div>
</body>
</html>
